body {
  background-color: #f1f1f1;
}

.login-logo {
  margin-top: 60px;
  width: 400px;
}

.row {
  margin-left: 5%;
  display: flex;
  justify-content: center;
}

.box-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fafafa;
  width: 350px;
  margin-top: 20px;
  border: 1px solid #e1e1e1;
}

.box-row {
  margin-right: 50px;
  margin-top: 10px;
}

input {
  width: 150px;
  margin-left: 10px;
  padding: 5px;
  color: #555;
  text-transform: uppercase;
}

.login-button {
  color: #fff;
  background-color: #1c75bc;
  font-size: 14px;
  padding: 10px;
  width: 100px;
  margin-top: 20px;
  border-radius: 5px;
  font-family: monospace;
}
